.container-detail{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
}

.item-name{
   margin-bottom: 1.4rem;
   font-size: 2.3rem;
}

.item-img{
    margin: 4rem;
    width: 450px;
    height: auto;
}

.price{
    font-size: 30px;
    margin-bottom: 1rem;
    color:#8fb100;
}

.datos-detail{
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 90%;
}

.category{
    font-size: 18px;
}