.container-list{
    background-color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    justify-content: space-around;
}

.loading{
    max-height: 70vh;
    margin-top: 1.3rem;
    padding: 2rem;
}

@media (max-width: 768px) {
    .container-list{
        gap: 0;
        justify-content: space-around;
        align-items: center;
  }
}

@media (max-width: 425px) {
    .container-list{
        gap: 0;
        margin-top: 1rem;
        justify-content: center;
        align-items: center;
  }
}