
.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: auto;
    margin: auto;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

.card-img img{
    height: 350px;
    width: 300px;
}

.card-name{
    margin-bottom: 1.3rem;
}

.card-data{
    display: flex;
    gap: 1.2rem;
    margin-top: 1rem;
}
.Option{
    margin-top: 30px;
}
.btn41-43 {
    padding: 10px 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }
  
  .btn-42 {
    border: 2px solid black;
    z-index: 1;
    color: black;
  }
  
  .btn-42:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: blue;
    transition: all 0.3s ease;
  }
  
  .btn-42:hover {
    color: white;
  }
  
  .btn-42:hover:after {
    top: 0;
    height: 100%;
  }
  
  .btn-42:active {
    top: 2px;
  }